.grid-container {
    display: grid;    
    grid-row-gap: 5px;
    grid-template-columns: auto auto auto;
    grid-template-rows: 180px; 30px;
}


h1 {
    grid-column: 1 / 3;
    font-size: 10em;
    line-height: 0.8em;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    color: #eee;
}

h2 {
    grid-column: 2 / 4;
    font-family: 'Quicksand';
    line-height: 1.05em;
    font-size: 4em;
    background: -webkit-linear-gradient(60deg, #ffe585, #ff8385, #ffca85);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    grid-column: 1 / 4;
    font-family: 'Quicksand';
    font-size: 2em;
}